.cardProducto {
    width: 20%;
    margin: 4px;
    background-color:rgba(141, 42, 184, 0.544);
    height: 600px;
}
.cardBody {
    margin-bottom: 1%;
    text-align: center;
    color: rgb(255, 255, 255);
}
.cardProductos {
    display: flex;
    margin: 4px;
    align-items:flex-start;
    justify-content: center;
}
.cardProductos img {
    margin-top:3px;
    width: 100%;
    height: 400px;
}
.btnVerProducto{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}
.btnVerProducto:hover{
    background-color:rgb(77, 63, 89);
    color: rgb(0, 0, 0);
}

