.cardProducto {
    width: 20%;
    margin: 4px;
    background-color:rgba(141, 42, 184, 0.544);
    height: 600px;
}
.cardBody {
    margin-bottom: 1%;
    text-align: center;
    color: rgb(255, 255, 255);
}
.cardProductos {
    display: flex;
    margin: 4px;
    align-items:flex-start;
    justify-content: center;
}
.cardProductos img {
    margin-top:3px;
    width: 100%;
    height: 400px;
}
.btnVerProducto{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}
.btnVerProducto:hover{
    background-color:rgb(77, 63, 89);
    color: rgb(0, 0, 0);
}



.carrito{
    color: rgb(255, 255, 255);
}
.detalleItemCarrito{
    color: rgb(255, 255, 255);
}
.containerVerProducto{
    background-color: rgba(0, 0, 0, 0.448);
}



.cartWidget {
    position: relative;
    right: 3%;
    background-color: rgb(224, 156, 223);
}
.carrito{
    color:rgb(0, 0, 0);
}
.cartWidget:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.itemDetail {
    max-width: 540px;
    margin-top: 20px;
    color: black;
}



.cantCarrito {
    position: relative;
    left: 5px;
}
.tituloCart {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
    color: rgb(255, 255, 255);
}



.navContainer{
    background-color: rgb(0, 0, 0);
    border-bottom: 5px solid rgb(77, 63, 89);
}
.itemNavSeccionesContainer{
    background-color: rgb(224, 156, 223);
    color: rgb(255, 255, 255);
}
.itemNavSecciones{
    color: rgb(0, 0, 0);
}
.itemNavSeccionesContainer:hover{
    background-color: rgb(255, 255, 255);
}

.logoNav img{
    width: 100px;
}


.colorNav1{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 193, 255);
    border-bottom:3px solid rgb(255, 193, 255);
}
.colorNav2{
    background-color:rgb(255, 193, 255);
    color: rgb(0, 0, 0);
    border-bottom:5px solid rgb(0, 0, 0);
}

.btn-dark{
    background-color: rgb(255, 193, 255);
    color: rgb(0, 0, 0);
    border: 0;
    border-bottom:5px solid rgb(0, 0, 0);
    margin-bottom: 5px;
}
.btn-light{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 193, 255);
    border: 0;
    border-bottom:5px solid rgb(255, 193, 255);
    margin-bottom: 5px;
}
.btn-dark:hover{
    background-color: rgb(120, 91, 120);
    border-bottom:5px solid rgb(0, 0, 0);   

}
.btn-light:hover{
    background-color: rgb(255, 193, 255);
    border-bottom:5px solid rgb(0, 0, 0);    
}
.h1CompraLight{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}
.h1CompraDark{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}




.iconNav{
    background-color: rgb(224, 156, 223);
}

.iconNav:hover{
    background-color: rgb(130, 97, 130);
}
.iconNavBS{
    color: rgb(255, 255, 255);
}






.cardProducto {
    width: 18rem;
    margin: 4px;
    background-color: hsl(0, 0%, 97%);
}

.cardBody {
    background-color: white;
    margin-bottom: 3px;
    text-align: center;
}

img {
    margin-top:3px;
}

.cardProductos {
    margin: 4px;
    align-items:center;
    justify-content: center;
}

.cartWidget {
    position: relative;
    right: 3%;
    color:white;
}

.nav-item {
    margin: 10px;
}

.cantCarrito {
    position: relative;
    left: 15%;
}

.itemDetail {
    max-width: 540px;
    margin-top: 20px;
}

.tituloCart {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}

.imgPc{
    min-height: 300px;
}