.logo{
    height: 25px;
    width: 25px;
}

.navContainer{
    background-color: rgb(151, 79, 202);
}

.buscarBtn{
    background-color: rgb(255, 255, 255);
    color: rgb(151, 79, 202);
    transition: all 0.5;
}

.buscarBtn:hover{
    background-color: green;
    color: rgb(255, 255, 255);
    cursor:crosshair;
}

.buscadorBtn{
    background-color: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container__gridIndex {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-template-areas: "header" 
   "main"
   "footer";
   background-image: url("./img/fondosakura.jpg");
   }

.navContainer{
    border-bottom: 2px solid black;
    margin-bottom: 1%;
    background-color: rgb(90, 60, 118);
    color: white;
}

.itemNav{
    color: white;
}

.containercarrusel{
    display: flex;
    justify-content:center ;
    align-items:center;
    width: 55%;
    margin-left: 20%;
    border: 5px solid rgb(0, 0, 0);
}

.carruselmain{
    background-color: rgba(0, 0, 0, 0.383);
}

.carousel-inner img{
height: 600px;

}

.h3Productos{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.383);
    color:rgb(0, 0, 0);
}

.productosContainer1{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
}
.productosContainer1 img{
    width: 350px;
    height: 300px;
    border-bottom: 1px solid rgb(0, 0, 0);
}


.productosContainer2{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
    margin-bottom: 3%;
    
}
.productosContainer2 img{
    width: 350px;
    height: 300px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.pDeProductos{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.383);
    color: rgb(0, 0, 0);
    margin-bottom: 1%;
    border: 2px solid rgba(255, 255, 255, 0.383);
}

.bTnComprar{
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(114, 231, 114);
    border: 1px solid rgb(167, 232, 167) ;
    transition: all 0.3s;
    text-decoration: none;
}

.bTnComprar:hover{
    background-color: rgb(42, 118, 42);
}

.footerbs{
    background-color: black;
}




@media (max-width: 800px){
    .containercarrusel{
        display: none;
    }
}